@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700');

body {
	color: #fff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #fff;
	/* background-image: url("../paper-border-home-test.svg"), url("../bg-test.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%, auto;
	background-position: top-left, top-left;
	background-attachment: fixed, fixed; */
	/* background-image: url("../vertical-half-paperps.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	background-attachment: fixed; */
	background-image: url("../paper-rip-left-redone.svg"), url("../paper-rip-right-redone-thinner.svg"), url("../bg-test.svg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100% auto, 100% auto, auto;
	background-position: center, center, left top;
	background-attachment: fixed, fixed, fixed;
}

.left {
	text-align: left;
	line-height: 1.15;
	padding-left: 1%;
}
.brand {
	width: 20%;
	height: auto;
	margin: auto;
}
h1#name {
	font-size: 3em;
	font-weight: 700;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -0.025em;
	padding: 0;
	border: 0;
	margin: 0;
}
h2#title {
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.005em;
	padding: 0;
	border: 0;
	margin: 0;
}
.right-nav {
	text-align: right;
	padding-right: 1%;
}
.right-nav a{
	color: #fff;
	font-size: 1.25em;
	font-weight: 700;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -0.025em;
	line-height: 1.15;
	padding: 0;
	border: 0;
	margin: 0;
	display: block;
}
.right-nav a:hover {
	color: #494949;
}

h1 {
	font-size: 2.5em;
	font-weight: 600;
	text-decoration: none;
	text-transform: none;
	letter-spacing: -0.025em;
}
h2 {
	font-size: 2em;
	font-weight: 600;
	text-decoration: none;
	text-transform: none;
	letter-spacing: -0.025em;
}

.proj-nav {
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -0.025em;
	display: inline-block;
}


#text {
	width: 50%;
	margin: auto;
}
.close {
	font-size: 2.75em;
	font-weight: 600;
	text-decoration: none;
	text-transform: lowercase;
}