/* For desktop devices */
@media only screen and (min-width: 1024px) {

	header {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	header > img {
		height: 250px;
	}

	.top-nav a {
		display: inline-block;
	}
	.top-nav a.main {
		display: block;
	}

	.container {
		padding-left: 20%;
		padding-right: 20%;
	}

	.work-card {
		max-width: 45%;
	}
}