/* For desktop devices */
@media only screen and (min-width: 1024px) {

	#header img {
		height: 250px;
	}

	.top-nav a {
		display: inline-block;
	}
	.top-nav a:first-child {
		display: block;
	}

	#content {
		padding-left: 25%;
		padding-right: 25%;
	}
}