/* For desktop devices */
@media only screen and (min-width: 1024px) {

	h2 {
		letter-spacing: 1.5em;
	}

	header {
		height: 100vh;
		
	}
	header > img {
		height: 250px;
	}

	.top-nav a {
		display: inline-block;
	}
	.top-nav a.main {
		display: block;
	}

	.container {
		padding-left: 25%;
		padding-right: 25%;
	}
}