/* For mobile and smartphone devices */
@media only screen and (max-width: 480px) {

	#header {
		margin: 0;
		vertical-align: center;
	}
	#header img {
		display: none!important;
	}

	.top-nav {
		margin: 25px;
	}
	.top-nav a.main {
		float: left;
	}
	.top-nav .icon {
		display: block;
		float: right;
	}
	.top-nav a:not(:first-child) {
		display: none;
	}
	.top-nav .responsive {
		position: relative;
	}
	.top-nav .responsive.icon {
		position: absolute;
		top: 0;
		right: 0;
	}
	.top-nav .responsive a {
		float: none;
		display: block;
		text-align: left;
	}

}