#user-research > section {
	padding: 10px;
}
#user-research > div img {
	float: right;
	width: 50%;
	object-fit: cover;
	padding: 10px;
}
.user-testing-container >  img{
	float: left;
	width: 50%;
	object-fit: cover;
}
