.user-research-container, .user-testing-container {
	display: block;
}
#user-research > div > img {
	float: right;
	width: 50%;
	object-fit: cover;
}
.user-testing-container >  img{
	float: left;
	width: 50%;
	object-fit: cover;
}
