#user-research > section, #user-testing > section {
	padding: 10px;
}
a img {
	width: 50%%;
	object-fit: cover;
	padding: 10px;
}
section > p {
	text-align: left;
}

#user-tests a img {
	width: 50%;
}
