* {
	box-sizing: border-box;
}

body {
	color: #494949;
	font-size: 12 pt;
	font-family: Arial, Helvetica;
	text-align: center;
	line-height: 1.5;
	padding: 0;
	border: 0;
	margin: 0;
}

h1 {
	color: #89aea4;
	font-weight: normal;
	text-decoration: none;
}
h2 {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

hr {
	width: 75%;
	border: 0.5px solid #000;
}

#header {
	width: 100%;
	vertical-align: middle;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 5px 5px #aaa;
	-webkit-box-shadow: 0px 5px 5px #aaa;
	box-shadow: 0px 5px 5px #aaa;

}
#header img {
	object-fit: scale-down;
	vertical-align: text-top;
	padding: 25px;

}

.top-nav {
	overflow: hidden;
}
.top-nav .icon {
	display: none;
}
.top-nav a{
	color: #000000;
	font-size: 14pt;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 10px;
	float: none;
}
.top-nav a:hover {
	color: #777777;
}
.top-nav a.main {
	font-size: 18pt;
	float: none;
}

#content {
	position: relative;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.container {
	background-color: #eee;
	padding: 25px;
	min-height: 100vh;
	vertical-align: center;
}
.container:nth-of-type(even) {
	background-color: #89aea4;
}
.container:nth-of-type(even) h1{
	color: #494949;
}

#self-img {
	width: 50%;
	object-fit: scale-down;
	border-radius: 50%;
	padding: 0;
	margin: 25px 25px;
	box-shadow: 5px 5px 5px #aaa;
}

.work-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}
.work-container .thumb img{
	width: 150px;
	height: 150px;
	padding: 10px;
	border: 0.5px solid #fff;
	margin: 10px;
	background-color: #fff;
	object-fit: contain;
}
.work-container .thumb img:hover {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	z-index: 1;
	padding: 100px;
}
.modal:before {
	opacity: 0.75;
	filter:alpha(opacity=75);
}
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 25px;
	max-width: 100%;
}
.close {
	color: #fff;
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 18pt;
	font-weight: bold;
}
.close:hover {
	color: #aaa;
	text-decoration: none;
}
.work-images {
	display: none;
	max-width: inherit;
	object-fit: contain;
}
.work-images img {
	max-width: inherit;
	object-fit: contain;
}
.caption-container {
	text-align: center;
	background-color: #000;
	padding: 2px 16px;
	color: #fff;
	display: none;
}

#footer {
	position: relative;
	width: 100%;
	padding: 15px;
	border: 0;
	margin: 0;
	background-color: #fff;
}
#scrollTop {
	display: inline-block;
	float: none;
	border: 0;
	margin: 0;
	padding: 10px;
	outline: none;
	font-family: Arial, Helvetica;
	font-size: 12pt;
	line-height: 1.5;
	color: #494949;
	background-color: #fff;
	text-align: center;
}
#scrollTop:hover {
	color: #eee;
}