body {
	color: #494949;
	font-size: 12 pt;
	font-family: Arial;
	text-align: center;
}

h1 {
	color: #111836;
}

#header {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 5px 5px #777777;
	-webkit-box-shadow: 0px 5px 5px #777777;
	box-shadow: 0px 5px 5px #777777;

}
#header img {
	object-fit: contain;
}

.top-nav {
	overflow: hidden;
}

.top-nav a{
	color: #000000;
	font-size: 14pt;
	text-transform: uppercase;
	display: block;
	padding: 10px 10px;
}
.top-nav a:hover {
	color: #777777;
}
.top-nav a.main {
	font-size: 18pt;
}

#content {
	position: relative;
	width: 100%;
	margin: 0px 25px;
}
#about {
	background-color: #eee;
	padding: 25px 25px 25px 25px;
}
#work {
	background-color: #ddd;
	padding: 25px 25px 25px 25px;
}
#contact {
	background-color: #eee;
	padding: 25px 25px 25px 25px;
}