body {
	color: #494949;
	font-size: 12 pt;
	font-family: Arial;
	text-align: center;
}

h1 {
	color: #111836;
	border-bottom: 1px solid #000;
}

#header {
	width: 100%;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 5px 5px #777777;
	-webkit-box-shadow: 0px 5px 5px #777777;
	box-shadow: 0px 5px 5px #777777;
}

.top-nav a{
	color: #000000;
	text-transform: uppercase;
}
.top-nav a:hover {
	color: #777777;
}