* {
	box-sizing: border-box;
}

body {
	color: #494949;
	font-size: 12 pt;
	font-family: Arial, Helvetica;
	text-align: center;
	line-height: 1.5;
	padding: 0;
	border: 0;
	margin: 0;
}

h1 {
	color: #89aea4;
	font-weight: normal;
	text-decoration: none;
}
h2 {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

hr {
	width: 50%;
	color: #ddd;
}

#header {
	width: 100%;
	vertical-align: middle;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 5px 5px #aaa;
	-webkit-box-shadow: 0px 5px 5px #aaa;
	box-shadow: 0px 5px 5px #aaa;

}
#header img {
	object-fit: scale-down;
	vertical-align: text-top;
	padding: 25px;
}

.top-nav {
	overflow: hidden;
}
.top-nav .icon {
	display: none;
}
.top-nav a{
	color: #000000;
	font-size: 14pt;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 10px;
	float: none;
}
.top-nav a:hover {
	color: #777777;
}
.top-nav a.main {
	font-size: 18pt;
	float: none;
}

#content {
	position: relative;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}
.container {
	background-color: #eee;
	padding: 25px;
}
.container:nth-of-type(even) {
	background-color: #89aea4;
}
.container:nth-of-type(even) h1{
	color: #494949;
}

#footer {
	position: relative;
	width: 100%;
	padding: 15px;
	border: 0;
	margin: 0;
	background-color: #fff;
}
.scrollTop {
	display: inline-block;
	float: none;
	border: none;
	outline: none;
	font-family: Arial, Helvetica;
	font-size: 12 pt;
	line-height: 1.5;
	color: #494949;
	background-color: #fff;
	text-align: center;
	box-sizing: border-box;
}
.scrollTop:hover {
	color: #eee;
}