* {
	box-sizing: border-box;
}

body {
	color: #494949;
	font-size: 12 pt;
	font-family: Arial, Helvetica;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
}

h1 {
	color: #89aea4;
}

#header {
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 5px 5px #aaa;
	-webkit-box-shadow: 0px 5px 5px #aaa;
	box-shadow: 0px 5px 5px #aaa;

}
#header img {
	object-fit: scale-down;
	padding: 25px;
}

.top-nav {
	overflow: hidden;
}
.top-nav.icon {
	display: none;
}
.top-nav a{
	color: #000000;
	font-size: 14pt;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 10px;
	float: none;
}
.top-nav a:hover {
	color: #777777;
}
.top-nav a:first-child {
	font-size: 18pt;
	float: none;
}

#content {
	position: relative;
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}
.container {
	background-color: #eee;
	padding: 25px;
}
.container:nth-of-type(even) {
	background-color: #ddd;
}