/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

	#header {
		height: 150px;
		vertical-align: bottom;
	}

	#header img {
		height: 150px;
		float: left;
		vertical-align: top;
	}

	.top-nav {
		margin: 25px;
	}
	.top-nav a {
		float: left;
		align: right;
	}
	.top-nav a.main {
		float: left;
	}

	.container {
		padding-left: 10%;
		padding-right: 10%;
	}

}