/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1023px) {

	body {
		font-size: 11pt;
	}
	
	header {
		height: 150px;
		align-content: center;
		vertical-align: bottom;
	}

	header > img {
		height: 150px;
		float: left;
		vertical-align: top;
		padding-top: 0;
		padding-left: 25%;
	}

	.top-nav {
		margin: 25px;
		vertical-align: text-bottom;
	}
	.top-nav a {
		display: block;
		float: left;
		padding: 5px 5px;
	}
	.top-nav a.main {
		display: block;
		text-align: left;
	}

	.container {
		padding-left: 15%;
		padding-right: 15%;
	}

	.work-card {
		max-width: 100%;
	}

}