/* For tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	#header img {
		width: 100px;
		float: left;
	}

	.top-nav a {
		float: right;
	}
	.top-nav a.main {
		float: left;
	}

}