/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

	#header {
		height: 150px;
		vertical-align: bottom;
	}

	#header img {
		height: 150px;
		float: left;
		vertical-align: top;
		padding-top: 0;
	}

	.top-nav {
		margin: 25px;
		float: right;
	}
	.top-nav a {
		display: inline-block;
	}
	.top-nav a.main {
		float: left;
	}

	.container {
		padding-left: 15%;
		padding-right: 15%;
	}

}