@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i');

body {
	color: #111111;
	background: #efefef;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
}

#bit-img {
	width: 75%;
	height: auto;
}

h1 {
	color: #111111;
	font-weight: 400;
	text-decoration: none;
	text-transform: lowercase;
}
p{
	text-align: left;
}
p#signature {
	font-weight: 400;
	font-style: italic;
	text-align: right;
}

.container {
	min-width: 300px;
	width: 50%;
	padding: 0;
	border: 0;
	margin: auto;
}