@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	color: #111111;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
}

h1 {
	color: #111111;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
}

p {
	width: 50%;
	margin: auto;
}
p#signature {
	font-weight: italic;
}